h2,h3,h4,h5,h6 {
  font-weight: 400 !important;
  text-transform: none !important;
  color: black !important;
  font-size: large !important;
  line-height: 1.5!important;
  letter-spacing: -0.01em!important;

}


